.App {
  text-align: left;
  padding:30px;
}

.padded{

}

.padded input{
  border:0px;
  min-width: 10px;
  display: block;
}

input{
  width:100%;
  overflow: hidden;
  outline:none;
}
input:focus{
  background:#d5f7e5;
  border: none !important;
  box-shadow: none;
}
.CodeMirror-line:focus{
  background:red;
}

.padded.p1{
  padding-left: 20px;
}

.padded.p2{
  padding-left:40px;
}

.padded.p3{
  padding-left:60px;
}
.padded.p4{
  padding-left:80px;
}
.padded.p5{
  padding-left:100px;
}