.App {
  text-align: left;
  padding:30px;
  background:#28bce2
}

h1{
  margin: 0 auto;
  display: block;
  text-align: center;
  color:#fff;
}

.padded{

}

.padded input{
  border:0px;
  min-width: 10px;
  display: block;
}

input{
  width:100%;
  overflow: hidden;
  outline:none;
}
input:focus{
  background:#d5f7e5;
  border: none !important;
  box-shadow: none;
}
.CodeMirror-line:focus{
  background:red;
}


pre.prettyprint{
  border:0px !important;
  margin:0px !important;
}

.options-container{
  text-align: right;
  padding-bottom: 20px;
  padding-top: 30px;
}
.paneContainer{
  position: relative;
  height: 500px;
  background: #fff;
  box-shadow: 2px 2px 51px gray;
}

button, select, option{
  cursor: pointer;
  display: inline-block;
  
  border:1px solid #fff;
  margin-left: 10px;
  box-sizing: border-box;
  outline: none;
  padding: 5px;
  color:#fff;
  border-radius: 1px;
  background:transparent;

}

.Resizer {
  background: #000;
  opacity: .2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
cursor: not-allowed;
}
.Resizer.disabled:hover {
border-color: transparent;
}